<!DOCTYPE html>
<html lang="en">
<head>
    <title>Kalpataru register now!</title>
   
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
   
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body class="override">
    <nav class="navbar navbar-inverse" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url 'index' %}">Kalpataru</a>
            </div>
           
        </div>
    </nav>
   
    <div class="container">
        <div class="row">
            <div class="container">
                <form action="{% url 'register' %}" method="post">
                    {% csrf_token %}
                    <div class="col-md-8 col-md-offset-2">
                        <div class="panel panel-default">
                            <div class="panel-heading">Register with us!</div>
                            <div class="panel-body">
                                {% if error_message %}
                                    <p class="bg-danger p-d ml-b">{{ error_message }}</p>
                                {% endif %}
                                <div class="form-inline clearfix">
                                    <label for="{{ form.name.id_for_label }}" class="col-md-4 control-label text-right">Name:</label>
                                    <input type="text" class="form-control" name='name'>
                                    <div class="col-md-6">
                                        {{ form.name }}
                                    </div>
                                </div>
                                
                                <div class="form-inline clearfix">
                                    <label for="{{ form.phone_number.id_for_label }}" class="col-md-4 control-label text-right">Phone Number:</label>
                                    <input type="tel" class="form-control" name= "phone_number">
                                    <div class="col-md-6">
                                        {{ form.phone_number }}
                                    </div>
                                </div>
                                                                
                                <div class="form-inline clearfix">
                                    <label for="{{ form.email.id_for_label }}" class="col-md-4 control-label text-right">Email<span class="text-red"></span>:</label>
                                    <input type="text" class="form-control" name = "email">
                                    <div class="col-md-6">
                                        {{ form.email }}
                                    </div>
                                </div>
                                <div class="form-inline clearfix">
                                    <label for="{{ form.password.id_for_label }}" class="col-md-4 control-label text-right">Password<span class="text-red"></span>:</label>
                                    <input type="password" class="form-control" name= "password">
                                    <div class="col-md-6">
                                        {{ form.password }}
                                    </div>
                                </div>
                                <div class="form-inline clearfix">
                                    <label for="{{ form.password_repeat.id_for_label }}" class="col-md-4 control-label text-right">Confirm password:</label>
                                    <input type="password" class="form-control" name="password_repeat">
                                    <div class="col-md-6">
                                        {{ form.password_repeat }}
                                    </div>
                                </div>
                                <br>
                                <div class="col-md-6 col-md-offset-4">
                                    <input type="submit" value="Register" class="btn btn-success">
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
   
   
</body>
</html>

    